

.myMargin {
  margin: 0 auto;
  width: 250px;
}

.b_colour {
  background-color: #241e1e;
}

/* Color for links in navbar */
a {
  color: white;
}

.bg-input {
  background-color: #28df99;
  width: 700px;
  height: 600px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#text_font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: bold;
}

/* Body color of login and signup pages */
/* .auth {
  background-color: #b2beb5;
 */

/* margin for input container of login and signup pages */
.login-box {
  margin: 20px auto;
  padding-left: 400px;
}

.inputForm {
  padding:10px 30px ;
  margin-top: 100px;
  /* margin: 70px auto auto auto; */
  width: 320px;
  height:300px ;
}

.formStyle {
  padding: 20px 40px;
  width: 480px;
  height: 650px;
}

/* Styling cards */
.card-group {
  margin: 50px 100px;
}

.card {
  margin: 20px;
}

.col {
  height: auto;
  width: auto;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 25px;
  border: 2px solid black;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #99f3bd;
  transform: rotateY(180deg);
  color: #34626c;
  padding: 5px 20px;
}


.card-group .cards {
  background-color: darkgreen;
}

.carouselContainer {
  margin: 50px;
  background-color: #28df99;
}

.carousel-item {
  height: 600px;
  width: 1600px;
}

/* for adjusting size of carousel item */
.imgSize {
  height: 100%;
  width: 60%;
  margin: auto 150px;
}

footer {
  background-color: #292b2c;
  color: white;
  height: 2.6em;
  margin-top: 0%;
}

footer h5 {
  text-align: center;
}